/*
Theme Name: devbase-child

Description: Base Theme
Version: 0.7
Author: Julian Apong
Author URI: http://japong.net
Tags: Blank, HTML5, CSS3
Template: devbase
License: MIT
License URI: http://opensource.org/licenses/mit-license.php

Based on the excellent HTML5 Blank Theme by Todd Motto
*/


/*------------------------------------*\
MAIN
\*------------------------------------*/

$padding_general: 25px;
$transition_time: 0.25s;
$white: rgba(240, 240, 240, 1);
$black: rgba(15, 15, 15, 1);

$light_grey:rgba(110, 131, 152, 1);
$grey:rgba(74, 88, 102, 1);
$dark_grey:rgba(36, 43, 50, 1);

$light_blue:rgba(104, 206, 235, 1);
$blue:rgba(69, 156, 214, 1);
$dark_blue:rgba(34, 106, 193, 1);

$light_green:#3CC062;
$green:#288041;
$dark_green:#144020;

$light_yellow:#FCD718;
$yellow:#F8AE10;
$dark_yellow:#F48508;

$light_pink:#F69F7E;
$pink:#EC6A54;
$dark_pink:#E2352A;

$light_red:#DE4556;
$red:#BC2E39;
$dark_red:#9a171c;

$light_pink-purple:#b433bd;
$purple:#78227e;
$dark_purple:#3c113f;

$light_indigo:#6042c1;
$indigo:#402c83;
$dark_indigo:#201645;


$highlight: $yellow;
$primary: $dark_grey;
$secondary: $light_blue;


$colors :
("indigo", $indigo, $white, $yellow, $white),
("red", $red, $white, $indigo, $white),
("yellow", $yellow, $indigo, $red, $black),
("green", $green, $white, $red, $black),
("purple",  $purple, $white, $blue, $black),
("blue", $blue, $white, $pink, $black),
("black", $black, $yellow, $red, $black),
("white_indigo", $white, $indigo, $yellow, $black),
("white_red", $white, $red, $yellow, $black),
("grey_yellow", $dark_grey, $yellow, $indigo, $white),
("dark_grey", $dark_grey, $yellow, $red, $white),
("pink", $pink, $black, $green, $black),
(highlight, $highlight, $black, $dark_grey, $black),
(primary, $primary, $white, $yellow, $black),
(tertiary, $white, $yellow, $light_blue, $black),
(secondary, $secondary, $white, $yellow, $black),
("white", $white, $indigo, $red, $black);

@each $name, $color, $color_secondary, $color_highlight, $color_tertiary in $colors {
  .background_#{$name} {
    background-color: rgba(0, 0, 0, 0);

  }


  .background_#{$name} .category_background{
    background-color: $color;
    color: $color_secondary;
  }

  .background_#{$name}.gradient .project_stack_container{
      background: linear-gradient(to bottom, darken($color, 0%) 0%,darken($color, 10%) 50%,darken($color, 15%) 51%,  darken($color, 0%) 80%);
  }

  .background_#{$name} .section_title{
    border-bottom: 2px solid $color_highlight;
  }

  .background_#{$name} h1, .background_#{$name} h2, .background_#{$name} h3{
    color: $color_secondary;
  }

  .background_#{$name} p{
    color: $color_tertiary;
  }

  .background_#{$name} .infopanel_reveal{
    color: $color_highlight;
  }

  .background_#{$name} .stage{
    background-color:rgba($color, 0.5);
  }
  .background_#{$name} .stage{

  }
  .background_#{$name} .infopanel_content{
    box-shadow:0px 0px 5px rgba(0, 0, 0, 0.5);
    background-color:$color_secondary;
  }

  .background_#{$name} .solo_stack_content{
    box-shadow:0px 0px 5px rgba(0, 0, 0, 0.5);
    background-color:$color_secondary;
  }

  .background_#{$name} .solo_stack_content p{
  color:$color;
  }

  .background_#{$name} .infopanel_content p{
    color: $color;
  }

  .background_#{$name} .tooltip_reveal{
    color:$color_secondary;
  }

  .background_#{$name} .tooltip_content{
    background-color:$color_secondary;
    color:$color;
  }

  .background_#{$name} .tooltip_content p{
    color:$color;
  }

  .background_#{$name} a {
    color: $color_highlight;
    &:focus,
    &:hover {
      color: lighten($color_highlight,15%);
    }
  }

  .background_#{$name} .cta_button{
    background-color: $color_highlight;
    padding:8px;
    margin-bottom:25px;
    display:inline-block;
    font-size:1.5em;
    font-family: 'cabinitalic';
    transition:color 0.25s, background-color 0.25s;

    &:focus,
    &:hover {
      background-color: $color;
    }

    &:focus,
    &:hover a{
      color: $color_highlight;
    }
  }

  .cta_button a{
    color: $color;
  }

  .background_#{$name} .product_image img{
    border:5px $color_highlight solid;
  }

  .background_#{$name} h2{
  }

  .background_#{$name} .product_title{
    color:$color_highlight;
  }

  .background_#{$name} .product_price{
    font-family: 'nexa_boldregular';
    font-size:2em;
    color:$color_highlight;
  }

  .overlay_#{$name} .section_overlay{
    background-color:$color;
  }

  .menu img{
    object-fit:cover;
    height:200px;
    width:100%;
    border: 3px solid $color_secondary;
  }



  .background_#{$name} .cart_input{
    font-family:FontAwesome;
    color:transparent;
    border:3px solid $color_highlight;
    background:rgba(0, 0, 0, 0);
    font-size:1em;
    transition:color 0.25s;
    border-radius:50px;
    margin-top: 10px;
    margin-left: 10px;
    padding:0px 3px;
  }

  .background_#{$name} .cart_input.product_delete{
    border:0px;
    color:$color_secondary;
    padding:0px;
    margin:0px;
    font-family: 'open_sansregular';

  }

  .background_#{$name} .cart_number_check{
    border:3px solid $primary;
    font-family:FontAwesome;
    color:transparent;
    background:rgba(0, 0, 0, 0);
    font-size:1em;
    transition:color 0.25s;
    border-radius:50px;
    margin-top: 10px;
    margin-left: 10px;
    padding:0px 3px;
  }

  .background_#{$name} .cart_input.cart_checked{
    font-family:FontAwesome;
    color:$color_highlight;
  }

  .background_#{$name} input.cart_input:hover, .background_#{$name} input.cart_input:focus{
    color: $color_highlight;
  }

  .background_#{$name} .cart{
    background: $color_highlight;
    color: $color;
  }



  .background_#{$name} .cart .product{
    text-align:center;
    padding: 25px;
    display:inline-block;
    width:auto;
  }

  .cart .basket_open{
    float:right;
  }

  .background_#{$name} .cart .product .product_image{
    height:125px;
  }

  .background_#{$name} .cart .product .product_title{
    color: $color;
  }

  .background_#{$name} .cart .product .product_price{
    font-family: 'nexa_boldregular';
    color: $color;
  }

  .background_#{$name} .product .cart_number{
    margin-top: 25px;
    width: 35px;
    font-size: 15px;
    text-align:center;
    color:black;
    margin-left:5px;
  }

  .background_#{$name} .cart .product img{
    width:100px;
    height:100px;
    border-radius:100px;
    border:3px solid $color;
  }

  .background_#{$name} .lower_button_cta{
    float:right;
    background-color:$color_highlight;
    color:$color;
    padding:25px;
    width:70%;
  }

  .background_#{$name} .lower_button_cta a{
    color:$primary;
  }

  .background_#{$name}.background_gradient.background_spotted{
    background-image:url('img/spotted_background.png'), radial-gradient(ellipse at center, lighten($color, 30%) 0%,$color 100%);
  }

  .background_#{$name} .tag_icons{
    font-size:36px;
    position:relative;
    color:$color_secondary;
    transition:opacity 0.25s, color 0.25s;
  }

  .background_#{$name} .tag_icon{
    margin-right:25px;
  }

  .background_#{$name} .tag_icon:hover{

    color:  saturate($color_highlight, 20%);

  }

  .background_#{$name} .tag_icons .icon_tag_text{
    font-size:12px;
    opacity:0;
    top:0;
    background-color:$color;
    padding:5px;
    border-radius:5px;
    position:absolute;
    transition:opacity 0.25s, color 0.25s;
    font-family: 'open_sanslight';
  }

  .background_#{$name} .tag_icons .tag_icon:hover .icon_tag_text{
    font-size:12px;
    opacity:1;

  }

  .background_#{$name} .section_text{
    background-color:rgba($color, 0.75);
    z-index:6000;
    padding:2.5%;
  }

  .background_#{$name} .section_title{
    background-color:rgba($color, 0.75);
    z-index:6000;
    padding:2.5%;
  }

  .background_#{$name} input.wpcf7-form-control.wpcf7-submit, .background_#{$name} button, .background_#{$name} .cta_button {
    background-color: $color_secondary;
    color:$color;
    border: 1px solid $color;
    font-size: 16px;
    padding: 10px;
    transition:color 0.25s, background-color 0.25s;
    font-family: 'open_sansbold';
  }

  .background_#{$name} .cta_button a{
    color:$color;
    transition:color 0.25s
  }

  .background_#{$name} .cta_button:hover a{
    color:$color_secondary;
  }


  .background_#{$name} input.wpcf7-form-control.wpcf7-submit:hover, .background_#{$name} input.wpcf7-form-control.wpcf7-submit:focus,
  .background_#{$name} .cta_button:hover,
  .background_#{$name} button:hover,  {
    background-color: $color;
    color:$color_secondary;
    border: 1px solid $color_secondary;
    padding: 10px;
    cursor:pointer;
    box-shadow: 0px 0px 0px 0 rgba(0,0,0,.75);
  }



}

/*------------------------------------*\
Animation
\*------------------------------------*/



.project_stack_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.orient_left .project_stack_container{
  padding-right: 50%;
  margin-right: 50%;
  width:100%;
}

.project_stack_container div{
  transition:all 1s;
  transform-style:preserve-3d;
  max-height:75vh;
  max-width:25vh;
  left: 12.5vw;
  top: 12.5vh;
  display: flex;
  flex-direction: column;
  z-index:5000;
}

span.sub_stack_base{
  flex: 1;
  width:100%;
  transition:all 1s;
}

span.sub_stack_base_bg{
  display:block;
  position:relative;
  height:100%;
  transition:all 1s;
}

.project_stack_container div img{
  transition:all 1s;
  display:block;
  object-fit:cover;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
}

.project_stack_container div img:first-child{
  position:relative;
}






@for $i from 1 to 50 {
  .stack_image_#{$i} {
    animation-duration: 0.25s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition:opacity 0.25s;
    opacity:0;

  }
}

/*------------Slide out ------------------------ */

.slide_out{
  transform: rotateX(-5deg) rotateY(35deg) rotateZ(0deg);
  margin-left:-10vw;
}

.slide_out .slide_out_stack{
  opacity:1;
}

.slide_out_stack{
  opacity:0;
  position:absolute;
}

@for $i from 1 to 50 {
  .slide_out .sub_stack_base_#{$i}{
    opacity:0;
  }

  .slide_out .slide_out_stack.sub_stack_base_#{$i}{
    opacity:1;
  }

  .slide_out .slide_out_stack.sub_stack_base_#{$i}{


    transition:transform 1s, opacity 0.25s #{(0.5 - $i * 0.1)}s, margin 1s #{(1 - $i * 0.1)}s;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    z-index: #{$i};
  }

  .slide_out .slide_out_stack .stack_image_#{$i}{
    opacity:1;
  }





  .slide_out:hover .slide_out_stack.sub_stack_base_#{$i}{
    opacity:0.25;

  }

  .slide_out .slide_out_stack.sub_stack_base_#{$i}:hover{
    visibility:visible;
    opacity:1;
    transform:rotateY(-20deg) translateZ(100px);
  }

  $slide_out_stack_selector: ".slide_out_stack";



  @for $i from 1 to 10 {
    .slide_out #{$slide_out_stack_selector} {
      transform:translateZ(($i * 5px));
        margin-left:($i * 5vw);
    }

    $slide_out_stack_selector: $slide_out_stack_selector + " ~ .slide_out_stack";
  }



}



/*------------Angled Waves ------------------------ */

.angled_waves{
  transform: matrix3d(0.87,-0.09,-0.50,0,0.09,0.87,0.50,0,0.5,-0.5,0.7569,0,0,0,0,1);

}



.project_stack_container .angled_waves{
  transition:transform 1s;
}

.project_stack_container .angled_waves img:first-child{
  position:relative;
  box-shadow:0px 0px 4px rgba(0, 0, 0, 0.5);
}



@for $i from 1 to 50 {
  .angled_waves .stack_image_#{$i}{
    opacity:1;
    animation-duration: (#{$i}s);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name:angled_waves_z_#{$i};
    animation-delay:3s;
    transform:translateZ($i * 5 + $i * 3px);
    transition: transform 1s;
    transition-delay:1s;
  }





  .angled_waves .tooltip_content{
    transform: matrix3d(0.87,0.09,0.50,0,-0.09,0.87,-0.50,0,-0.5,0.5,0.7569,0,0,0,0,1);
  }

  .angled_waves .slide_out_stack.stack_image_#{$i}{
    opacity:0;
    animation-name:none;
  }


  @keyframes angled_waves_z_#{$i}{
    0% {
      transform:translateZ($i * 5 + $i * 3px);
    }

    to {
      transform:translateZ($i * 5 + $i * 6px);
    }
  }
}


/*------------Orbit_Z ------------------------ */

.orbit_z{
  transform: rotateX(5deg) rotateY(5deg) rotateZ(5deg);
  transition:transform 5s;
}

.project_stack_container .orbit_z{
  transition:transform 5s;
}

.orbit_z .sub_stack_base{

  width:12.5vw;

}



@for   $i from 1 to 50 {

  .orbit_z .sub_stack_base_#{$i}{

    transform-style: preserve-3d;

  }

  .orbit_z .sub_stack_base .stack_image_#{$i}{
    opacity:1;
    transform:translateZ(#{($i *  50)}px);
  }

  .orbit_z .sub_stack_base_#{$i}{
    animation-duration: 3s;
    animation-name:orbit_z_#{$i};
    padding-left:100px;
    transform-origin:left;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-delay:#{($i * 0.3)}s;
    box-sizing:content-box;
  }

  .orbit_z .sub_stack_base img{
    opacity:1;
    animation-duration: 3s;
    /*animation-name:orbit_z_img;*/
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-delay:0s;


  }

  .orbit_z .slide_out_stack.stack_image_#{$i}{
    opacity:0;
    animation-name:none;

  }

  @keyframes orbit_z_#{$i}{
    0% {
      transform:rotateY(359deg);
    }

    100% {
      transform:rotateY(0deg);
    }
  }

  @keyframes orbit_z_img{
    0% {

    }

    100% {

    }
  }
}


/*------------initial_static ------------------------ */

@for $i from 1 to 50 {
  .initial_static .stack_image_#{$i}{
    opacity:1;
  }

  @keyframes translate_z_#{$i}{
    from {
      transform:translateZ(($i * 5px))
    }

    to {
      transform:translateZ(($i * 10px))
    }
  }
}

.initial_static .slide_out_stack{
  opacity:0;
}





.animate_02{
  transform:rotateX(45deg) rotateY(7deg) rotateZ(-36deg);
}

.animate_03{
  transform:rotateX(18deg) rotateY(7deg) rotateZ(-36deg);
}



.background_tertiary .product_description{
  color:$white;
}

#map{
  height:235px;
  width:100%;
}

/*------------Zoom Over ------------------------ */

.zoom_over{
  transition:width 0.25s, border 0.25s;

}

.zoom_over:hover{
  width:150%;

}

.zoom_over .sub_stack_base_bg img:first-child{

}

.zoom_over:hover .sub_stack_base_bg img:first-child{
}

/*--------------Tooltips----------------------*/
.tooltip, .tooltip_reveal, .tooltip_content{
  visibility:hidden;
  opacity:0;
  transition:opacity 0.25s 0.25s, transform 0.25s 0s;
    display:inline-block;
}

.tooltip{
  height:auto;
}

.tooltip_animation .tooltip, .tooltip_animation .tooltip_content{

  opacity:1;
  visibility:visible;
}

.tooltip_animation .tooltip_reveal{
  top:10%;
  margin-left:2.5vw;
  opacity:1;
  visibility:visible;
}

.project_stack_container div .sub_stack_base.tooltip_stack .tooltip{
  top:10%;
  height:auto;
}

.project_stack_container div .sub_stack_base .tooltip_reveal{
  font-size:25px;
  transition: transform 0.25s 0s, opacity 0.5s 2s;
  text-shadow:0px 0px 2px rgba(0, 0, 0, 0.5);
}

.project_stack_container div .sub_stack_base .tooltip_content{
  padding:25px;
  font-size:15px;
  opacity:0;
  transition:opacity 0.25s, margin 0.25s, width 0.25s;
  min-width:0vw;
  width:100%;
}

.project_stack_container div .tooltip_stack:hover .tooltip_reveal{
  transform:rotate(180deg);

}

.project_stack_container div .tooltip_stack:hover .tooltip_content, .project_stack_container div .tooltip_reveal:focus .tooltip_content{
  opacity:1;
  width:25vw;
  margin-left:2.5vw;
  position: absolute;
}

.project_stack_container div .tooltip_stack:hover .tooltip_content p, .project_stack_container div .tooltip_reveal:focus .tooltip_content p{
  opacity:1;
}

/*-------------- infopanel----------------------*/

.project_stack_container .infopanel_animation{

  transition:transform 0.25;
}


.infopanel_stack{

}

.infopanel{
  position:absolute;
  top:0;
}

.infopanel_animation .sub_stack_base .sub_stack_base_bg img{
  opacity:1;
}


.project_stack_container .infopanel_animation .infopanel{

}

.orient_left .infopanel_content{
left:-6vh;
}

.infopanel_content, .infopanel_reveal{
  opacity:0;
  visibility:hidden;
  display:block;
  position:absolute;
  width:25vh;

  top:2.5vh;
  z-index:50000;
  padding:5px;
}

.project_stack_container .infopanel_animation, .project_stack_container .infopanel_animation .infopanel, .project_stack_container .infopanel_animation .infopanel_content{
  opacity:1;
  visibility:visible;

}

.project_stack_container .infopanel_animation .infopanel_content{
}



$infopanel_selector: " .infopanel_stack";

.infopanel_stack .infopanel_content {
  transition:opacity 0.25s 0.5s, visibility 0.25s 0.5s, transform  0.25s 0.5s;
}

@for $i from 1 to 10 {
  #{$infopanel_selector} .infopanel_content {
    transition:opacity 0.25s #{(1 + $i * 0.25s)}, visibility 0.25s #{(0.5 + $i * 0.25s)}, transform  0.25s #{(0.5 + $i * 0.25s)};

  }

  $infopanel_selector: $infopanel_selector + " ~ .infopanel_stack";
}


/*-------------- Solo Stack----------------------*/
.solo_stack_animation .solo_stack, .solo_stack_animation .solo_stack .sub_stack_base_bg img{
 opacity:1;
 object-fit:contain;
 transition:transform 1s 1s, width 1s;
}

.solo_stack_animation .sub_stack_base.solo_stack{
width:50vw;
height:50vh;
transform: rotateX(15deg) rotateY(30deg);
}

.solo_stack_animation .sub_stack_base{
height:0vh;
}

.solo_stack_content, .solo_stack_reveal{
opacity:0;
transition:opacity 0.25s 0.75s;
position:absolute;
top:0;
transform:tranlateZ(50px);
padding:25px;
}

.solo_stack_animation .solo_stack_content, .solo_stack_animation .solo_stack_reveal{
opacity:1;
}

$solo_stack_selector: "img";

@for $i from 1 to 10 {
    .solo_stack_animation #{$solo_stack_selector}{
    transform:translateZ(#{($i * 15)}px);

  }

  $solo_stack_selector: $solo_stack_selector + " ~ img";
}

/*------------------------------------*\
fonts
\*------------------------------------*/

@font-face {
  font-family: 'nexa_rust_slabblack_shadow_01';
  src: url('fonts/NexaRustSlab-BlackShadow01-Free-webfont.eot');
  src: url('fonts/NexaRustSlab-BlackShadow01-Free-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/NexaRustSlab-BlackShadow01-Free-webfont.woff2') format('woff2'),
  url('fonts/NexaRustSlab-BlackShadow01-Free-webfont.woff') format('woff'),
  url('fonts/NexaRustSlab-BlackShadow01-Free-webfont.ttf') format('truetype'),
  url('fonts/NexaRustSlab-BlackShadow01-Free-webfont.svg#nexa_rust_slabblack_shadow_01') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'burfordrusticbookregular_2';
  src: url('fonts/burfordrusticbook-regular2-webfont.woff2') format('woff2'),
  url('fonts/burfordrusticbook-regular2-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'burfordrusticbookregular';
  src: url('fonts/burfordrusticbook-regular3-webfont.woff2') format('woff2'),
  url('fonts/burfordrusticbook-regular3-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}



@font-face {
  font-family: 'santelia_rough_altbold_thrdmo';
  src: url('fonts/santeliaroughaltboldthrdemo-webfont.woff2') format('woff2'),
  url('fonts/santeliaroughaltboldthrdemo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'santelia_scriptbold_dmo';
  src: url('fonts/santeliascriptbolddemo-webfont.woff2') format('woff2'),
  url('fonts/santeliascriptbolddemo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'milkshakeregular';
  src: url('fonts/milkshake-webfont.woff2') format('woff2'),
  url('fonts/milkshake-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* Generated by Font Squirrel (https://www.fontsquirrel.com) on September 2, 2016 */



@font-face {
  font-family: 'open_sansbold';
  src: url('fonts/opensans-bold-webfont.woff2') format('woff2'),
  url('fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'open_sansitalic';
  src: url('fonts/opensans-italic-webfont.woff2') format('woff2'),
  url('fonts/opensans-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'open_sanslight';
  src: url('fonts/opensans-light-webfont.woff2') format('woff2'),
  url('fonts/opensans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'open_sansregular';
  src: url('fonts/opensans-regular-webfont.woff2') format('woff2'),
  url('fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'open_sanssemibold';
  src: url('fonts/opensans-semibold-webfont.woff2') format('woff2'),
  url('fonts/opensans-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?i7q0ib');
  src:  url('fonts/icomoon.eot?i7q0ib#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?i7q0ib') format('truetype'),
  url('fonts/icomoon.woff?i7q0ib') format('woff'),
  url('fonts/icomoon.svg?i7q0ib#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'nexa_boldregular';
  src: url('fonts/nexa_free_bold-webfont.woff2') format('woff2'),
  url('fonts/nexa_free_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'cabinmedium';
  src: url('fonts/cabin-medium-webfont.woff2') format('woff2'),
  url('fonts/cabin-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'cabinitalic';
  src: url('fonts/cabin-italic-webfont.woff2') format('woff2'),
  url('fonts/cabin-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gluten:before {
  content: "\e900";
}
.icon-lactose_free:before {
  content: "\e901";
}
.icon-vegan:before {
  content: "\e902";
}
.icon-vegetarian:before {
  content: "\e903";
}

body{
  max-width:100%;
  overflow-x:hidden;
}

p{
  font-family: 'source_sans_proregular';
}

p em{
  font-family: 'cabinitalic';
}

p strong{
  font-family: 'cabinitalic';
}

h1, h2, h3{
  font-family: 'nexa_boldregular';
}

h1{
  font-size:10em;
}

h2{
  font-size:6em;
  display:inline-block;
}

h2::first-letter{
  margin-left:-5px;
}

/*----------------------------Animation----------------*/


@for $i from 1 to 8 {
  .sequence_fade > div:nth-child(#{$i}) {
    transition-delay: $i * 0.25s;

  }
}

.waypoint_active .sequence_fade > div{
  opacity:1;
}

.sequence_fade > div{
  transition:opacity 0.5s;
  opacity:0.5;
}

/*------------------Orientation---------------*/

.project_stack_container{
  width:50%;
  float:left;
  margin-right:50%;
}

.project_stage_container{
  float:right;
  margin-left:50%;
  width:50%;
  position:relative;
}

.stage_waypoint{
  width:100%;
  display:block;

}

.panel_test{
  width:100%;
}

.stage{
  position:absolute;
  width:100%;
  height: 100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  z-index:5000;
  padding:25px;
}


.orient_center div.wpcf7{
  text-align:center;
}

.orient_center .section_title{
  text-align:center;
}

.orient_center .section_text{
  text-align:center;
}

.category_waypoint_active .category_title.section_title{
  position:fixed;
  top:0;
}

.category_waypoint_active.orient_right .category_title.section_title{
  right:15%;
}

.category_waypoint_active.orient_left .category_title.section_title{
  left:30%;
}

.category_waypoint.orient_left .page_category_image{
  left:15%;
}

.category_waypoint.orient_right .page_category_image{
  right:15%;
}

.category_waypoint_active .page_category_image{
  opacity:1;
}

.waypoint .section_title{
  opacity:0.5;
  transition:opacity 1s;
}


.waypoint.waypoint_active .section_title{
  opacity:1;
}

.category_waypoint_active .project_stack_container{
  position:fixed;
}



.project_stack_container{

  top:0;
  height:100vh;
}

.panel_test{

}

/*
.category_waypoint_active{
border:3px solid blue !important;
}

.waypoint_active{
border:3px solid red !important;
}


.panel_test{
border: 3px solid green !important;
}
*/


.panel_test{
  min-height:100vh;

}

.initial_padding{
  padding-top:25vh;
}

.page_category_interstitial {
  z-index:500;
}

.page_category_interstitial .section{
  height:100vh;
  display:flex;
  justify-content:space-around;
  align-items: center;
  z-index:500;
  flex-wrap:wrap;
}



.category_waypoint_active .page_category_image{
  position:fixed;
  display:block !important;
  width:35%
}

.page_category_image{
  display: block;
  width: 35%;
  height: 85%;
  opacity: 1;
  transition: opacity .25s;
  position: fixed;
  z-index: 5000;
  object-fit:contain;
  top:10%;
}

.bg_fixed{
  opacity:0.01;
  background-size:contain;
  background-attachment: fixed;
  background-repeat:no-repeat;
  transition:opacity 0.5s;
}

.orient_left.bg_fixed{
  background-position:center;
}

.orient_right.bg_fixed{
  background-position:right;
}


.category_waypoint_active.bg_fixed{
  opacity:1;
  background-size:contain;
  background-attachment: fixed;
  background-repeat:no-repeat;
}

.category_waypoint_bottom{
  position:absolute;
  bottom:0;

  width:50px;
  height:50px;
}

.clearfix{
  clear:both;
  width:100%;
}


.font_script{
  font-family: 'cabinitalic';
  margin-top: 0;
}



.section_tagline{
  font-family: 'cabinitalic';
  font-size:1.6em;
  width:40vw;
  display:inline-block;
  margin-left:25px;
}

.overlay_half .section_tagline{
  width:auto;
}


.float_right{
  float:right;
}

.float_left{
  float:left;
}



.section_title{
  display:inline;
  width:100%;
}

.section_title h2{
  margin-bottom:25px;
  font-size:3em;
  display:inline;
}

.product{
  margin-bottom:25px;
}

.product_title{
  font-family: 'cabinitalic';
  font-size:2em;
}

.product_price{
  font-family: 'cabinitalic';
  font-size:2em;
  margin-bottom:-10px;
}

.product_price:before{
  content:'$';

}

.orient_left{
  text-align:left;
}

.orient_left .section_content_text{
  float:right;
}

.orient_right .section_content_text{
  float:left;
}


.orient_right{
  text-align:right;
}

.category{
  position:relative;
  width:100%;
  float:right;
  padding-bottom:25vh;

}

.category_background{
  z-index:-1;
  width:100vw;
  height:100vh;
  position:fixed;
}

.section{
  position:relative;
  width:100%;
  float:right;
}

.section_content{
  display: flex;
  width: 66.6%;
  z-index:3;
  max-width:100%;
  min-height:75vh;
}

.cta_button a:after{
  font-family: FontAwesome;
  content: " \f0a9";
}


.column_reverse{
  flex-direction: column-reverse;
  display:flex;
  height: calc(100vh - 250px);
}

.lower_button_cta_container{
  width:100%;
}

.cta_text{
  font-family:'cabinitalic';
}


.wpcf7 input{
  width:90%;
  padding:5px;
  margin:10px;
  color: $black;
}

.wpcf7 label{
  display:none;
}

.contact_form_name{
  display:inline-block;
  float:left;
  width:50%;
  text-align:center;
}

.contact_form_email{
  display:inline-block;
  float:left;
  width:50%;
  text-align:center;
}

.contact_form_message{
  width:100%;
}

.cakes .wpcf7, .contact .wpcf7{
  background-color:transparent;
  color:$primary;
  padding:25px;

}

.cakes .wpcf7 input{
  width:calc(35% - 10px);
  padding:5px;
  margin-left:20px;
}


.contact .wpcf7 input{
  width:calc(35% - 10px);
  padding:5px;
  margin-left:15px;
}

.cakes .wpcf7, .contact .wpcf7{
  text-align:right;
}

.cakes .wpcf7 textarea{
  width:70%;
  padding:10px;
  height:200px;
  margin-right: -3px;
}

textarea.wpcf7-form-control.wpcf7-textarea{
  height:150px;
}

.contact .wpcf7 textarea{
  width:70%;
  padding:10px;
  height:200px;
  margin-right: 0px;
}

.cakes .wpcf7 .bottom_bar{
  display:inline-block;
  background-color:$highlight;
  width:70%;
  padding:5px 25px;
  text-align:left;
}

.cakes .wpcf7-submit, .contact .wpcf7-submit{
  font-family:'cabinitalic'
}

.cakes .wpcf7-submit:after{
  font-family:FontAwesome;
  content:'\f18e';
}

.cakes select.wpcf7-form-control.wpcf7-select {
  background-color: transparent;
  border: 0px;
  font-size:1.0em;
  font-weight:bold;
  margin-right:10px;
}



.cakes label, .contact label{
  display:none;
}

.cakes .wpcf7 br, .contact .wpcf7 br{
  display: none;
}

.cakes .wpcf7 .bottom-bar select{
  display:inline-block;

}




.section_content_main{
  width:100%;
}

.section_full_width .section_content_text{
  width:100%;
}

.section_content_text{
  width:50%;
  padding:25px 0;
  height:100%;
  align-items:center;
  align-content: center;
  display:flex;
  flex-wrap: wrap;
  margin:0;
}



.menu_content{
  max-width:100%;
  margin:0 auto;
  text-align:center;
}

.menu_section{
  height:100vh;
}

.menu_section.sticky{
  background-color:$primary;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  display:flex;
}



.nav ul {
  padding:12px 25px;
  justify-content: space-between;
  text-align:center;

}

.nav ul li{
  position:relative;
  font-family: 'nexa_boldregular';

}

.nav ul li:hover>ul {
  display: block;
  position:absolute;
  top:45px;
  background-color:lighten($primary, 15%);
  z-index:999;
}


.sticky_bottom .nav ul li:hover>ul {
  display: block;
  position:absolute;
  bottom:38px;
  background-color:$primary;
  z-index:2;
  top:initial;
}

.sticky_bottom .nav ul li:hover>ul li{
  padding:5px;
}

.nav ul li ul li:nth-child(odd){
  background-color:lighten($primary, 5%);
}

.nav ul li ul{
  padding:0px;
}

.nav ul li:hover>ul li{
  display: block;
}

.nav ul.sub-menu li a{
  width:100%;
}

.nav ul li a {
  font-size:25px;
}

.nav .basket_link{
  float:right;
}

.nav .basket_link a{
  color:$light_blue;
  transition:color 0.25s, text-shadow 0.25s;
}

.nav .basket_link.basket_active a{
  color:$yellow;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
}

.nav .basket_link a:first-of-type::before{

}

.nav_sub{
  left:25px;
  position:fixed;
  top: 50%;
  margin-top: -100px;
  height: 200px;
  z-index:7000;
  display:flex;
  align-items: center;
  font-size: 20px;
}


.nav_sub a{
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.5);
  mix-blend-mode: overlay;
}

.nav_sub ul{
  text-align:center;
  width:100%;
  -webkit-padding-start:0px;
  padding:25px;
}

.nav_sub ul li{
  display:block;
  margin-top:-3px;
}

.nav_sub_label{
  transition:opacity 0.25s, width 0.25s, font-size 0.25s;
  opacity: 0;
  width:0px;
  overflow:hidden;
  position:absolute;
  font-size:1px;
}


.nav_sub ul:hover .nav_sub_label{
  display:block;
  opacity:1;
  position:absolute;
  background:rgba(255,255,255, 0.75);
  mix-blend-mode: luminosity;
  width:200px;
  font-size:12px;
}



.menu_section.sticky_bottom .menu-item-has-children > a:after{
  font-family:FontAwesome;
  content:' \f0aa';
}

.sticky .menu-item-has-children > a:after{
  font-family:FontAwesome;
  content:' \f0ab';
}

// half-width

.section.section_overlay.overlay_half{
  width:50%;
  height:100%;
}


.section.section_overlay.overlay_half .products{
  flex-direction:column;
}


.section.section_overlay.overlay_half .products{
  flex-direction:column;
}

.section.section_overlay.overlay_half.column .section_content_main {
  width: 100% !important;
}

.section.section_overlay.overlay_half .section_content_main {
  width: 50%;
  display: inline-block;
  z-index: 4;
  padding: 25px;
}

.section.section_overlay.overlay_half .product_image{
  height:150px;
  width:150px;

}

.section.overlay_half .product {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.section.overlay_half.orient_right .product {
  flex-direction: row-reverse;
}

.section .product_image{
  width:100%;
  margin:0 auto;
  height:200px;
  text-align: center;
}

.section .product_image img{
  object-fit:cover;
  height:100%;
  width:100%;
  font-family: 'object-fit: cover;'
}

.section_text{
  font-size:1.3em;
}

.section.feature .product_image img{
  border-radius:100%;
  width:200px;
  height:200px;
  font-family: 'object-fit: cover;'
}

.section.section_overlay.overlay_half.orient_right .product_image{
  float:right;
}

.section.section_overlay.overlay_half.orient_left .product_image{
  float:left;
}


.section.section_overlay .section_overlay{
  position:absolute;

}

.section.section_overlay.overlay_full .section_overlay{
  width:100%;
  height:100%;
}

.section.section_overlay.overlay_half_height .section_overlay{
  width:100%;
  height:calc(100% - 50vh);
  bottom:0;
}




.section.section_overlay.overlay_half_height .section_content {
  padding-top:50vh;
  min-height:initial;
  display: flex;
  z-index: 3;
  flex-direction: column-reverse;
}

.section.section_overlay.overlay_half_height .section_content_main{
  height:50%;
  width:100%;
  bottom:0;
  z-index: 5;
}




.section.section_overlay.overlay_dark .section_overlay{
  background-color:rgba(0, 0, 0, 0.85);
  z-index:2;
}

.section.section_overlay.orient_left .section_overlay{
  left:0;
}

.section.section_overlay.orient_right .section_overlay{
  right:0;
}

.section.orient_right .section_content{
  flex-direction:row-reverse;
}


.section.section_overlay.overlay_half .product_details{
  width:calc(100% - 175px);
}

.menu{
  text-align:center;
}



.menu h3{
  font-family: 'cabinitalic';
  font-size:2em;
}

.section.section_overlay.overlay_half .product_image img{
  object-fit:cover;
  height:100%;
  width:100%;
}


.section .products{
  justify-content:space-between;
}

.section .cart{
  justify-content:space-between;
  display:inline-block;
  width:50vw;
  position:absolute;
  background-color:$highlight;
  right:0;
  z-index:10;
  padding:0px;
  opacity:0;
  transition:max-height 0.25s, padding 0.25s, opacity 0.25s;
  max-height:0px;
  overflow-y:hidden;
  overflow-x:scroll;
  box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
}

.section .cart a{
  color:$primary;
}

.cart .cart_interior .product .product_description{
  display:none;
}

.cart .cart_interior .product .product_tags{
  display:none;
}

.cart input.cart_input{
  border-color: $primary !important;
}

.cart input.cart_input:hover, .cart input.cart_input:focus{
  color: $primary !important;
}

.cart_contact .wpcf7 input{
  min-width:220px;
  margin:0;
}

.cart_contact input.wpcf7-form-control.wpcf7-submit.cart_send{
  background-color:$primary;
  color:$yellow;
  margin-top:20px;
  margin-bottom:20px;
}

.cart_contact textarea.wpcf7-form-control.wpcf7-textarea{
  width:100%;
}




.cart_contact input.wpcf7-form-control.wpcf7-submit.cart_send:hover{
  background-color:$white;
  color:$light_blue;
}

.text_products{
  display:none;
}

#text_products_list{
  display:none;
}

.section_content.section_content_cart{
  flex-wrap:wrap;
}


.cart .cart_interior{
  width:100%;
  float:left;
  white-space:nowrap;
  overflow-x:auto;
}

.cart_page.cart_interior{
  padding:25px;
  width:100%;
}

.cart_page .go_to_basket{
  display:none;
}

.cart_contact{
  width:100%;
}



.cart_page.cart_interior .product{
  padding:25px;
  width:100%;
  display:block;
  background-color:$white;
  margin-bottom:0;
  overflow:auto;
}

.cart_page.cart_interior .product:nth-child(2n){
  background-color:darken($white, 15%);
}

.cart_page.cart_interior .product .product_image{
  float:left;
  width:30%;
  margin-right:25px;
}

.cart_page.cart_interior .product .product_description{
  width:70%;
  padding-left:25px;
}


.cart_page.cart_interior .product .product_ordering{
  float:right;
}

.cart_page.cart_interior .price_total{
  float:right;
  font-family: nexa_boldregular;
  font-size: 2em;
  color: #333e48;
}

.cart_page.cart_interior .cart_end{
  background-color:#fff;
  padding:25px;
  overflow:auto;
}



.section .cart.cart_open{
  justify-content:space-between;
  opacity:1;
  max-height:500px;
  padding:25px;
  overflow: hidden;
}

.sticky_bottom .section .cart.cart_open{
  top: -525px;
}

.cart_updated{
  color:$white !important;
}

.cart_page .cart_interior{
}

.orient_center{
  text-align:center;
}

.section.orient_center .section_text{
  text-align:center;
}

.section.orient_center .product{
  text-align:center;
  width:30%;
}

.section.overlay_half .product{
  width:100%;
}

.section .product{
  width:30%;
}

.spotted_bg{
  background-image:url('img/spotted_background.png');
}

.bg_cover{
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.menu_section{
  position:fixed;
  top:0;
  width:100vw;
  height:15vh;
  z-index:99999;

}

.menu_section.sticky{
  position:fixed;
  top:0;
  width:100vw;
  height:75px;
  z-index:99999;

}

.header_logo{
  width:250px;
  height:250px;

}

.header .section_content{
  flex-direction:column-reverse;
}

.header_home_logo_wide{
  display:inline-block;
  width:100px;
  height:50px;
  float:left;
  margin-right:25px;
}

.menu_section.sticky .header_home_logo_icon {
  opacity: 1;
  width: 100%;
  margin-bottom:25px;
}

.header_home_logo_icon {
  width: 100%;
  opacity: 0;
  height: 150px;
  margin-top: 4px;
  transition: width .5s,opacity .5s;
}

.homepage_header{
  height:75vh;
}

.column-reverse .section_content{
  display: flex;
  flex-direction: column-reverse;
}


.nav ul li a:hover, .nav ul li a:focus {
  padding: 5px 10px;
  display: inline-block;
  color: $highlight;
  background: $primary;
}

.nav ul li a{
  color:$white;
}

footer{
  padding-left:15%;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  display: flex;
  height:100vh;
}


.footer_content{
  max-width:65%;
  min-height:200px;
  padding:25px 0px;
  margin: 0 auto;
  width:100%;
}

.footer_links{
  margin-top:25px;
}

.footer_links span{
  font-size:2em;
  margin-right:25px;
}

.footer_links a{

}

span.map {
  width: 100%;
  min-height: 300px;
  display: inline-block;
}



input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
textarea:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */


@media (max-width: 1280px) {

}


@media (max-width: 768px) {


  .project_stage_container{
    width:100%;
    margin:0;

  }


  .panel_test{
    height:100vh;
  }


  .project_stack_container{
    height:50vh;
    width:100%;
    margin:0;
    top:0;
    z-index:5000;
  }

  .project_stack_container div {
    max-width:12.5vh;
  }

  .stage {
    position: absolute;
    /* width: 100%; */
    height: 100vh;
    z-index: 5000;
    bottom: 0;

  }

  .stage_waypoint{
    top:0;
    position:absolute;
  }

  .stage_content{
    bottom:0;
    position:absolute;
  }

  .panel_test {

    position: relative;
  }

  body{
    max-width:100%;
    overflow-x:hidden;
  }

  .menu_section.background_primary.sticky {
    position:fixed;
    bottom:0;
    width:100%;
    height:50px;
    z-index:10000;
    max-width:100%;
  }

  .infopanel_animation{
    margin-left:-35vw;
  }

  .infopanel_content{
    left:4vh;
    width:50vh;
  }

  .page_category_interstitial {
    text-align: center;
  }

  .category{
    width:100%;
  }

  .panel_test{
    max-height:100vh;
    padding-top:75px;
    overflow:hidden;
    margin-left: 25px;
  }

  .nav{
    float:right;
  }

  .nav ul {
    padding:12px 25px;
    display: block;
    justify-content: space-between;
    -webkit-padding-start: 0px;
  }

  .section_content_text {
    width:100%;

    padding:2.5%;

  }

  .section_title h2 {
    font-size: 1.5em;
    display: inline;

  }

  .section_content{
    width:100%;
    padding:0px;
    min-height:78vh;
  }

  .nav_sub{
    left:5px;
    position:fixed;
    top: 50%;
    margin-top: -100px;
    height: 200px;
    z-index:7000;
    display:flex;
    align-items: center;
  }

  .nav_sub ul{
    padding:0px;
  }

  .section.section_overlay.overlay_dark .section_overlay{
    width:100%;
  }

  .section.section_overlay.overlay_half .section_content_main {
    width: 100%;
  }

  .section.section_overlay.overlay_half .product_image {
    height: 150px;
    width: 150px;
    float:none;
  }

  .section.overlay_half .product {
    display:inline-block;
  }

  .section.section_overlay.overlay_half .product_details {
    width: 100%;
    display:inline-block;
  }

  .section .products {
    flex-wrap: wrap;
  }

  .section.orient_center .product {
    width: 100vw;
  }

  .section .product {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav .basket_link{
    float: inherit;
  }

  .nav ul{
    text-align:center;
    padding:0px 25px;
  }

  .nav ul li{
    padding-top:10px;
  }

  .nav ul li a{
    font-size:15px;
    padding: 5px 3px;

  }

  .nav ul li a:focus, .nav ul li a:hover{
    padding: 5px 3px;

  }



  .menu_section.sticky .header_home_logo_icon{
    width:30%;
    margin:0 auto;
  }

  .section #map{
    width:100%;
  }

  .section .cart {
    display: none;
    width: 100vw;
    background-color: #ffc60a;
    right: 0;
    z-index: 10;
  }

  .section .cart.cart_open{
    display:inline-block;
  }

  .section.section_overlay.overlay_half .section_overlay {
    width: 100%;
    height: 100%;
  }

  .section_tagline{
    width:100%;
    margin-top:25px;
  }

  .category_waypoint_active .page_category_image{
    left:0%;
    width:100%;
  }

  .category_waypoint.orient_left .page_category_image{
    left:0%;
    width:100%;
  }

  .category_waypoint_active.orient_right .page_category_image{
    right:0%;
    width:100%;
  }

  .header_home_logo_wide{
    display:inline-block;
    width:50px;
    height:50px;
    float:left;
  }


  .category{
    padding:0;
  }

  .footer_content {
    max-width: 100%;
  }

}
